.textPendingQuest {
    margin-top: 30px;
    text-align: center;
    color: white;
}

.inputCreateTask {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}

.inputCreateTask input {
    width: 480px;
    height: 38px;
    background-color: #161B22;
    border-radius: 8px;
    border: none;
    color: white;
    padding-left: 10px;
}

.inputCreateTask button {
    width: 60px;
    height: 38px;
    margin-left: 10px;
    border: none;
    color: white;
    background-color: green;
    border-radius: 8px;
}

.main {
    width: 850px;
    height: 450px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background-color: rgba(59, 59, 59, 0.199);
    border-radius: 8px;
    margin: 25px auto;
}