.inputCreateTask {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

.inputCreateTask input {
  width: 480px;
  height: 38px;
  background-color: #161b22;
  border-radius: 8px;
  border: none;
  color: white;
  padding-left: 10px;
  border: 0.8px solid gray;
}

.inputCreateTask button {
  width: 60px;
  height: 38px;
  margin-left: 10px;
  border: none;
  color: white;
  background-color: green;
  border-radius: 8px;
  transition: 0.7s;
}

.inputCreateTask button:hover {
  transform: scale(1.2);
}
